* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    background-color: transparent;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo {
    font-size: 35px;
    font-family: "Martian Mono", monospace;
    letter-spacing: 2px;
}

.darkbtn {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    /* border: solid 1px; */
    border-color: white;
    height: 47px;
    width: 100px;
    margin-right: -10px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-delay: 0.2s;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    border-radius: 20px;
}

.add * {
    border: 0px;
}

.txt {
    padding: 15px 15px;
    border-radius: 10px 0px 0px 10px;
    margin-right: -5px;
    width: 300px;
    background-color: white;
    color: black;
    border-color: white;
}

.btn {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 10px 10px 0px;
    border: solid 1px;
    border-color: white;
    height: 47px;
    width: 100px;
    margin-right: -10px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.list {
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 390px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;
    /* background-color: grey; */
    width: 100%;


}


p {
    word-spacing: 2px;
    padding: 15px 15px;
    color: white;
    flex: 78%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.x {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 7%;
    height: 25px;
    border: 0px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-delay: 0.2s;

}

.x:hover {
    background-color: rgb(165, 165, 165);
}

.btn:hover {
    background-color: rgb(58, 58, 58);
}
.darkbtn:hover {
    background-color: rgb(58, 58, 58);
}